Repository naort-dev/fleetyards: changes, and which GitLab CI jobs are due for each by the changed paths.
All: yarn, bundle

yarn:
  stage: prep
  cache:
    key: fleetyards-cache
    paths:
    - node_modules/
    policy: pull-push
  script:
  - yarn --frozen-lockfile

bundle:
  stage: prep
  cache:
    key: fleetyards-cache
    paths:
    - vendor/bundle/
    policy: pull-push
  script:
  - bundle config path vendor/bundle
  - bundle install

fix: webpacker config
  config/webpacker.yml
Due: none

chore: update rails
  Gemfile
  Gemfile.lock
  vendor/cache/actioncable-6.0.3.2.gem
  vendor/cache/actioncable-6.0.3.3.gem
  vendor/cache/actionmailbox-6.0.3.2.gem
  vendor/cache/actionmailbox-6.0.3.3.gem
  vendor/cache/actionmailer-6.0.3.2.gem
  vendor/cache/actionmailer-6.0.3.3.gem
  vendor/cache/actionpack-6.0.3.2.gem
  vendor/cache/actionpack-6.0.3.3.gem
  vendor/cache/actiontext-6.0.3.2.gem
  vendor/cache/actiontext-6.0.3.3.gem
  vendor/cache/actionview-6.0.3.2.gem
  vendor/cache/actionview-6.0.3.3.gem
  vendor/cache/activejob-6.0.3.2.gem
  vendor/cache/activejob-6.0.3.3.gem
  vendor/cache/activemodel-6.0.3.2.gem
  vendor/cache/activemodel-6.0.3.3.gem
  vendor/cache/activerecord-6.0.3.2.gem
  vendor/cache/activerecord-6.0.3.3.gem
  vendor/cache/activestorage-6.0.3.2.gem
  vendor/cache/activestorage-6.0.3.3.gem
  vendor/cache/activesupport-6.0.3.2.gem
  vendor/cache/activesupport-6.0.3.3.gem
  vendor/cache/rails-6.0.3.2.gem
  vendor/cache/rails-6.0.3.3.gem
  vendor/cache/railties-6.0.3.2.gem
  vendor/cache/railties-6.0.3.3.gem
Due: bundle

chore: update js deps
  package.json
  yarn.lock
Due: yarn

chore(release): new Version v3.80.0 (ArcCorp) [ci skip]
  CHANGELOG.md
  config/version.rb
  package.json
Due: yarn

fix: node-fetch
  lib/tasks/release.thor
  package.json
Due: yarn

fix: e2e specs for images
  test/javascript/e2e/specs/Images.spec.js
Due: none

chore(release): new Version v3.80.1 (ArcCorp) [ci skip]
  CHANGELOG.md
  config/version.rb
  package.json
Due: yarn

fix: pagination for fleet vehicles
  app/javascript/frontend/api/collections/FleetVehicles.ts
  yarn.lock
Due: yarn

chore(release): new Version v3.80.2 (ArcCorp) [ci skip]
  CHANGELOG.md
  config/version.rb
  package.json
Due: yarn

chore: switch back to aws s3
  app/controllers/api/base_controller.rb
  config/initializers/carrierwave.rb
Due: none

fix: asset host
  app/helpers/application_helper.rb
  config/initializers/carrierwave.rb
  config/initializers/content_security_policy.rb
  config/initializers/secret_token.rb
  config/initializers/sentry.rb
Due: none

chore(release): new Version v3.80.3 (ArcCorp) [ci skip]
  CHANGELOG.md
  config/version.rb
  package.json
Due: yarn

chore: upgrade to ruby 2.7.1 (#1254)
  .circleci/config.yml
  .gitlab-ci.yml
  .ruby-version
  Gemfile
  Gemfile.lock
  docker/base/Dockerfile
  docker/ci/Dockerfile
  docker/docker-compose.yml
  docker/health/Dockerfile
  scripts/docker-push.sh
Due: yarn, bundle

chore: update session_store
  config/initializers/session_store.rb
Due: none

fix: subscriptions
  app/channels/application_cable/connection.rb
  app/javascript/frontend/mixins/Updates/index.js
  app/javascript/frontend/pages/Hangar/Fleetchart/index.vue
  app/javascript/frontend/pages/Hangar/index.vue
Due: none

chore(release): new Version v3.80.4 (ArcCorp) [ci skip]
  CHANGELOG.md
  config/version.rb
  package.json
Due: yarn

fix: filters
  .circleci/config.yml
  app/javascript/frontend/components/Stations/Docks/index.vue
  app/javascript/frontend/components/TradeRoutes/FilterForm/index.vue
  app/models/trade_route.rb
  test/javascript/e2e/specs/Roadmap.spec.js
  test/javascript/e2e/specs/Stations.spec.js
Due: none

chore(release): new Version v3.80.5 (ArcCorp) [ci skip]
  CHANGELOG.md
  config/version.rb
  package.json
Due: yarn

fix: filtergroup
  app/javascript/frontend/core/components/Form/FilterGroup/index.vue
Due: none

fix: scrollToAnchor
  app/javascript/frontend/core/components/FilteredList/index.vue
  app/javascript/frontend/pages/Stations/CelestialObject/index.vue
  app/javascript/frontend/pages/Stations/Shop/index.vue
  app/javascript/frontend/pages/Stations/Starsystem/index.vue
  app/javascript/frontend/pages/Stations/Starsystems/index.vue
  app/javascript/frontend/utils/scrolling.ts
Due: none

chore(release): new Version v3.80.6 (ArcCorp) [ci skip]
  CHANGELOG.md
  config/version.rb
  package.json
Due: yarn

chore: cleanup
  app/javascript/frontend/pages/Stations/CelestialObject/index.vue
Due: none

fix: fleetchart
  app/javascript/frontend/components/Starship42Btn/index.vue
Due: none

chore(release): new Version v3.80.7 (ArcCorp) [ci skip]
  CHANGELOG.md
  config/version.rb
  package.json
Due: yarn

fix: stations detail
  app/javascript/frontend/api/collections/Stations.ts
  app/javascript/frontend/components/Stations/Docks/index.vue
  app/javascript/frontend/pages/Models/Show/index.vue
  app/javascript/frontend/pages/Stations/Show/index.vue
  app/javascript/frontend/utils/RouteGuards.ts
Due: none

fix: traderoutes filters
  app/controllers/api/v1/trade_routes_controller.rb
  app/javascript/frontend/api/client.js
  app/javascript/frontend/api/collections/CelestialObjects.ts
  app/javascript/frontend/api/collections/Starsystems.ts
  app/javascript/frontend/api/models/CelestialObject.d.ts
  app/javascript/frontend/api/models/Starsystem.d.ts
  app/javascript/frontend/components/TradeRoutes/FilterForm/index.vue
  app/javascript/frontend/core/components/Form/CollectionFilterGroup/index.vue
  app/javascript/translations/en/labels.js
  app/models/trade_route.rb
Due: none

fix: specs
  app/controllers/api/v1/vehicles_controller.rb
  test/controllers/api/v1/trade_routes_controller_test.rb
Due: none

Path conditions:
  yarn: any of: .gitlab-ci.yml, package.json, yarn.lock, .npmrc
  bundle: any of: .gitlab-ci.yml, Gemfile, Gemfile.lock, .ruby-version
