Repository naort-dev/fleetyards: changes, and which GitLab CI jobs are due for each by the changed paths.
All: yarn, bundle

yarn:
  stage: prep
  cache:
    key: fleetyards-cache
    paths:
    - node_modules/
    policy: pull-push
  script:
  - yarn --frozen-lockfile

bundle:
  stage: prep
  cache:
    key: fleetyards-cache
    paths:
    - vendor/bundle/
    policy: pull-push
  script:
  - bundle config path vendor/bundle
  - bundle install

chore(release): new Version v4.4.0 (Mercury) [ci skip]
  CHANGELOG.md
  config/version.rb
  package.json
Due: yarn

fix: hangar fleetchart reload
  app/javascript/frontend/api/collections/Vehicles.ts
Due: none

chore: disable refresh default on vehicle create
  app/javascript/frontend/api/collections/Vehicles.ts
Due: none

chore: revert cache store back to memcache
  config/environments/production.rb
Due: none

chore: reenable redis session store
  Gemfile
  Gemfile.lock
  config/initializers/session_store.rb
  vendor/cache/redis-session-store-0.11.3.gem
Due: bundle

chore(release): new Version v4.4.1 (Mercury) [ci skip]
  CHANGELOG.md
  config/version.rb
  package.json
Due: yarn

fix: models loader
  app/lib/rsi/base_loader.rb
Due: none

chore(release): new Version v4.4.2 (Mercury) [ci skip]
  CHANGELOG.md
  config/version.rb
  package.json
Due: yarn

chore: update store images
  app/javascript/frontend/pages/Models/Show/index.scss
  app/javascript/frontend/pages/Models/Show/index.vue
  app/javascript/frontend/plugins/LazyLoad/index.ts
  app/lib/rsi/models_loader.rb
  app/uploaders/store_image_uploader.rb
  app/views/admin/api/v1/components/_base.jbuilder
  app/views/admin/api/v1/equipment/_base.jbuilder
  app/views/admin/api/v1/model_modules/_base.jbuilder
  app/views/admin/api/v1/model_paints/_base.jbuilder
  app/views/api/v1/celestial_objects/_base.jbuilder
  app/views/api/v1/commodities/_base.jbuilder
  app/views/api/v1/model_modules/_base.jbuilder
  app/views/api/v1/model_paints/_base.jbuilder
  app/views/api/v1/model_upgrades/_base.jbuilder
  app/views/api/v1/models/_base.jbuilder
  app/views/api/v1/roadmap/_base.jbuilder
  app/views/api/v1/shop_commodities/_base.jbuilder
  app/views/api/v1/shops/_base.jbuilder
  app/views/api/v1/starsystems/_base.jbuilder
  app/views/api/v1/stations/_base.jbuilder
  lib/tasks/images.thor
  test/controllers/api/v1/celestial_objects_controller_test.rb
  test/controllers/api/v1/models_controller_test.rb
  test/controllers/api/v1/roadmap_controller_test.rb
  test/controllers/api/v1/shop_commodities_controller_test.rb
  test/controllers/api/v1/shops_controller_test.rb
  test/controllers/api/v1/starsystems_controller_test.rb
  test/controllers/api/v1/stations_controller_test.rb
  test/controllers/api/v1/vehicles_controller_test.rb
Due: none

Path conditions:
  yarn: any of: .gitlab-ci.yml, package.json, yarn.lock, .npmrc
  bundle: any of: .gitlab-ci.yml, Gemfile, Gemfile.lock, .ruby-version
