Repository naort-dev/fleetyards: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn run lint:js, yarn run lint:style, yarn run lint:vue, bundle exec rubocop

.lintstagedrc:

{
  "linters": {
    "*.js": [
      "yarn run lint:js",
      "git add"
    ],
    "*.{css,scss}": [
      "yarn run lint:style",
      "git add"
    ],
    "*.vue": [
      "yarn run lint:vue",
      "git add"
    ],
    "*.{rb,erb,haml,jbuilder}": [
      "bundle exec rubocop",
      "git add"
    ],
  },
  "ignore": ["**/db/*.rb"]
}

fix(aws): require fog
  app/javascript/frontend/pages/Hangar/index.vue
  app/uploaders/base_uploader.rb
  config/initializers/carrierwave.rb
Due: yarn run lint:vue, bundle exec rubocop

fix(fog): update aws setup
  config/initializers/carrierwave.rb
Due: bundle exec rubocop

chore(ci): disable fog on ci
  config/initializers/carrierwave.rb
Due: bundle exec rubocop

fix(aws): update fog config
  config/initializers/carrierwave.rb
Due: bundle exec rubocop

chore(aws): update storage
  app/uploaders/base_uploader.rb
  config/initializers/carrierwave.rb
Due: bundle exec rubocop

fix(aws): update config
  app/uploaders/base_uploader.rb
  config/initializers/carrierwave.rb
  config/secrets.yml
Due: bundle exec rubocop

fix(aws): update specs
  app/uploaders/base_uploader.rb
Due: bundle exec rubocop

chore(aws): update config
  config/initializers/carrierwave.rb
Due: bundle exec rubocop

chore(aws): update csp
  config/initializers/content_security_policy.rb
Due: bundle exec rubocop

chore(aws): update paths
  app/uploaders/base_uploader.rb
Due: bundle exec rubocop

chore(release): new Version v3.2.51 (ArcCorp) [ci skip]
  config/version.rb
Due: bundle exec rubocop

fix(images): remove dimensions call from image.rb
  app/models/image.rb
  app/views/admin/api/v1/images/_base.jbuilder
  app/views/api/v1/images/_base.jbuilder
Due: bundle exec rubocop

chore(images): cleanup dimensions hack
  app/models/image.rb
  config/deploy.rb
  lib/tasks/images.thor
Due: bundle exec rubocop

chore(release): new Version v3.2.52 (ArcCorp) [ci skip]
  config/version.rb
Due: bundle exec rubocop

fix(images): rubocoptering
  lib/tasks/images.thor
Due: none

chore(release): new Version v3.2.53 (ArcCorp) [ci skip]
  config/version.rb
Due: bundle exec rubocop

fix(images): update page titles and image styling
  app/javascript/frontend/components/GalleryImage/index.scss
  app/javascript/frontend/components/GalleryImage/index.vue
  app/javascript/frontend/components/LazyImage/index.vue
  app/javascript/frontend/components/TeaserPanel/index.scss
  app/javascript/frontend/pages/Fleets/Show/index.vue
  app/javascript/frontend/pages/Home/index.scss
  app/javascript/frontend/pages/Home/index.vue
  app/javascript/frontend/pages/Models/Show/Images/index.vue
  app/javascript/frontend/pages/Models/Show/Videos/index.vue
  app/javascript/stylesheets/partials/media.scss
Due: yarn run lint:style, yarn run lint:vue

chore(release): new Version v3.2.54 (ArcCorp) [ci skip]
  config/version.rb
Due: bundle exec rubocop

fix(images): fix e2e specs
  test/javascript/e2e/specs/Home.spec.js
Due: yarn run lint:js

chore(deps): remove lintstaged (#691)
  .lintstagedrc
  package.json
  scripts/check-for-reinstalling.sh
  yarn.lock
Due: none

chore(rename-repo): update name
  README.md
  config/deploy.rb
Due: bundle exec rubocop

chore(release): new Version v3.2.55 (ArcCorp) [ci skip]
  config/version.rb
Due: bundle exec rubocop
