Repository naort-dev/fleetyards: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn run lint:js, yarn run lint:style, yarn run lint:vue, bundle exec rubocop

fix(signup): show errors for given email
  app/javascript/frontend/pages/Signup/index.vue
  app/javascript/frontend/partials/Fleets/Panel/index.scss
  app/javascript/frontend/partials/Fleets/Panel/index.vue
Due: yarn run lint:style, yarn run lint:vue

chore(release): new Version v3.2.49 (ArcCorp) [ci skip]
  config/version.rb
Due: bundle exec rubocop

feat(gallery): update share buttons
  app/javascript/frontend/components/Gallery/index.vue
  app/javascript/frontend/pages/Models/Show/Images/index.vue
  app/javascript/frontend/pages/Models/Show/index.vue
Due: yarn run lint:vue

chore(release): new Version v3.2.50 (ArcCorp) [ci skip]
  config/version.rb
Due: bundle exec rubocop

refactor(images): use img tags where possible (#650)
  app/controllers/api/v1/images_controller.rb
  app/javascript/frontend/App.vue
  app/javascript/frontend/components/Gallery/index.vue
  app/javascript/frontend/components/GalleryImage/index.scss
  app/javascript/frontend/components/GalleryImage/index.vue
  app/javascript/frontend/components/LazyImage/index.scss
  app/javascript/frontend/components/LazyImage/index.vue
  app/javascript/frontend/components/Models/Panel/__tests__/sanity.spec.js
  app/javascript/frontend/components/Models/Panel/__tests__/spec.js
  app/javascript/frontend/components/Models/Panel/index.vue
  app/javascript/frontend/components/TeaserPanel/__tests__/sanity.spec.js
  app/javascript/frontend/components/TeaserPanel/index.scss
  app/javascript/frontend/components/TeaserPanel/index.vue
  app/javascript/frontend/lib/Store/index.js
  app/javascript/frontend/mixins/GalleryHelpers/index.js
  app/javascript/frontend/pages/Home/index.scss
  app/javascript/frontend/pages/Home/index.vue
  app/javascript/frontend/pages/Images/index.vue
  app/javascript/frontend/pages/Models/Show/Images/index.vue
  app/javascript/frontend/pages/Models/Show/index.vue
  app/javascript/frontend/partials/Fleets/Panel/index.vue
  app/javascript/frontend/partials/Models/FleetchartItem/Image/index.vue
  app/javascript/images/loading.svg
  app/javascript/stylesheets/partials/media.scss
  db/seeds.rb
  db/seeds/images/models/stub-16.jpg
  db/seeds/images/models/stub-17.jpg
  db/seeds/images/models/stub-18.jpg
  db/seeds/images/models/stub-19.jpg
  test/javascript/e2e/specs/Home.spec.js
  test/javascript/e2e/specs/Images.spec.js
Due: yarn run lint:js, yarn run lint:style, yarn run lint:vue, bundle exec rubocop

chore(s3): move files to s3
  .rubocop.yml
  Gemfile
  Gemfile.lock
  config/initializers/carrierwave.rb
  config/secrets.yml
  vendor/cache/excon-0.64.0.gem
  vendor/cache/fog-aws-3.5.1.gem
  vendor/cache/fog-core-2.1.2.gem
  vendor/cache/fog-json-1.2.0.gem
  vendor/cache/fog-xml-0.1.3.gem
  vendor/cache/formatador-0.2.5.gem
  vendor/cache/ipaddress-0.8.3.gem
Due: bundle exec rubocop

chore(devise): add password change mail
  app/views/devise/mailer/password_change.html.inky
  config/initializers/devise.rb
  config/locales/en/devise.yml
Due: bundle exec rubocop

fix(aws): require fog
  config/initializers/carrierwave.rb
Due: bundle exec rubocop

Path conditions:
  yarn run lint:js: any of: *.js
  yarn run lint:style: any of: *.{css,scss}
  yarn run lint:vue: any of: *.vue
  bundle exec rubocop: any of: *.{rb,erb,haml,jbuilder}
