Repository naort-dev/fleetyards: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn run lint:js, yarn run lint:style, yarn run lint:vue, bundle exec rubocop

.lintstagedrc:

{
  "linters": {
    "*.js": [
      "yarn run lint:js",
      "git add"
    ],
    "*.{css,scss}": [
      "yarn run lint:style",
      "git add"
    ],
    "*.vue": [
      "yarn run lint:vue",
      "git add"
    ],
    "*.{rb,erb,haml,jbuilder}": [
      "bundle exec rubocop",
      "git add"
    ],
  },
  "ignore": ["**/db/*.rb"]
}

chore(deploy): force bundler install
  config/deploy.rb
Due: bundle exec rubocop

fix(fleets): save and validate sid for upcase
  app/controllers/api/v1/fleets_controller.rb
  app/javascript/frontend/partials/Fleets/Modal/index.vue
  app/models/ability.rb
  app/models/fleet.rb
  db/migrate/20191015152809_transform_fleet_sids.rb
  db/schema.rb
Due: yarn run lint:vue, bundle exec rubocop

fix(fleet): update specs
  app/controllers/api/v1/fleets_controller.rb
  lib/rsi_orgs_loader.rb
  test/controllers/api/v1/fleets_controller_test.rb
  test/fixtures/fleets.yml
Due: bundle exec rubocop

chore(release): new Version v3.27.1 (ArcCorp) [ci skip]
  CHANGELOG.md
  config/version.rb
  package.json
Due: bundle exec rubocop

feat(compare): update scrolling
  app/javascript/frontend/pages/Compare/Models/index.vue
  app/javascript/frontend/partials/Compare/Models/Base/index.vue
  app/javascript/frontend/partials/Compare/Models/Categories/index.vue
  app/javascript/frontend/partials/Compare/Models/Crew/index.vue
  app/javascript/frontend/partials/Compare/Models/Speed/index.vue
  app/javascript/stylesheets/partials/compare-models.scss
Due: yarn run lint:style, yarn run lint:vue

feat(compare): update scrolling
  app/javascript/frontend/pages/Compare/Models/index.vue
  app/javascript/frontend/partials/Compare/Models/Categories/index.vue
Due: yarn run lint:vue

chore(release): new Version v3.28.0 (ArcCorp) [ci skip]
  CHANGELOG.md
  config/version.rb
  package.json
Due: bundle exec rubocop

feat(roadmap): update navigation
  app/javascript/frontend/pages/Home/index.vue
  app/javascript/frontend/pages/Roadmap/Changes/index.vue
  app/javascript/frontend/pages/Roadmap/Ships/index.vue
  app/javascript/frontend/pages/Roadmap/index.vue
  app/javascript/frontend/partials/Navigation/index.vue
  app/javascript/frontend/routes.js
  app/javascript/stylesheets/partials/roadmap.scss
  app/javascript/translations/en.js
  app/javascript/translations/en/nav.js
  app/javascript/translations/en/placeholders.js
  app/javascript/translations/en/title.js
  config/locales/en/en.yml
  config/routes/frontend_routes.rb
Due: yarn run lint:js, yarn run lint:style, yarn run lint:vue, bundle exec rubocop

feat(roadmap): update navigation
  app/javascript/frontend/pages/Roadmap/Ships/index.vue
  app/javascript/frontend/partials/Navigation/index.vue
Due: yarn run lint:vue

chore(release): new Version v3.29.0 (ArcCorp) [ci skip]
  CHANGELOG.md
  config/version.rb
  package.json
Due: bundle exec rubocop

fix(search): update placeholder
  app/javascript/translations/en/placeholders.js
Due: yarn run lint:js

feat(roadmap): update e2e tests
  app/javascript/frontend/partials/Navigation/index.vue
  test/javascript/e2e/specs/Roadmap.spec.js
Due: yarn run lint:js, yarn run lint:vue

chore: remove wti
  Gemfile
  Gemfile.lock
  app/controllers/admin/locales_controller.rb
  app/views/admin/base/index.haml
  config/routes/admin_routes.rb
  vendor/cache/optimist-3.0.0.gem
Due: bundle exec rubocop

chore: update navigation
  app/javascript/frontend/lib/Router/index.js
  app/javascript/frontend/partials/Navigation/index.vue
Due: yarn run lint:js, yarn run lint:vue

chore: update Router
  app/javascript/frontend/lib/Router/index.js
Due: yarn run lint:js

chore(release): new Version v3.30.0 (ArcCorp) [ci skip]
  CHANGELOG.md
  config/version.rb
  package.json
Due: bundle exec rubocop

feat(shops): add rental prices
  app/controllers/admin/shops_controller.rb
  app/javascript/frontend/partials/Shops/ShopItemRow/index.vue
  app/javascript/stylesheets/partials/flex.scss
  app/javascript/translations/en.js
  app/javascript/translations/en/labels.js
  app/views/api/v1/shop_commodities/_base.jbuilder
  app/views/shops/_shop_commodity_fields.haml
  config/locales/en/activerecord.yml
  config/locales/en/helpers.yml
  db/migrate/20191024205216_add_rental_prices_to_shop_commodities.rb
  db/schema.rb
  db/seeds/01_stanton/02_hurston/01_hurston.rb
  db/seeds/01_stanton/03_arccorp/01_arccorp.rb
  db/seeds/images/stanton/arccorp/vantage.jpg
  db/seeds/images/stanton/hurston/vantage.jpg
Due: yarn run lint:js, yarn run lint:style, yarn run lint:vue, bundle exec rubocop

feat(shops): update specs
  test/controllers/api/v1/shop_commodities_controller_test.rb
  vendor/cache/web_translate_it-2.4.11.gem
Due: bundle exec rubocop

fix(shops): update rental_at check
  app/models/model.rb
Due: bundle exec rubocop

refactor: move style files
  app/javascript/frontend/components/DownloadScreenshotBtn/index.scss
  app/javascript/frontend/components/DownloadScreenshotBtn/index.vue
Due: yarn run lint:style, yarn run lint:vue

chore(release): new Version v3.31.0 (ArcCorp) [ci skip]
  CHANGELOG.md
  config/version.rb
  package.json
Due: bundle exec rubocop

chore(seeds): update arccorp rentals
  db/seeds/01_stanton/03_arccorp/01_arccorp.rb
  db/seeds/images/stanton/arccorp/traveler-rentals.jpg
  db/seeds/images/stanton/arccorp/vantage.jpg
Due: bundle exec rubocop

chore(release): new Version v3.31.1 (ArcCorp) [ci skip]
  CHANGELOG.md
  config/version.rb
  package.json
Due: bundle exec rubocop

feat(rentals): update admin tools
  app/assets/stylesheets/partials/_form.scss
  app/controllers/admin/shops_controller.rb
  app/views/shops/_shop_commodity_fields.haml
  config/locales/en/helpers.yml
  db/migrate/20191025120504_add_3_days_rental_to_shop_commodities.rb
  db/schema.rb
Due: yarn run lint:style, bundle exec rubocop

feat(rentals): add 3 days rental prices
  app/javascript/frontend/partials/Shops/ShopItemRow/index.vue
  app/javascript/stylesheets/partials/flex.scss
  app/javascript/translations/en.js
  app/views/api/v1/shop_commodities/_base.jbuilder
  test/controllers/api/v1/shop_commodities_controller_test.rb
Due: yarn run lint:js, yarn run lint:style, yarn run lint:vue, bundle exec rubocop

chore(release): new Version v3.32.0 (ArcCorp) [ci skip]
  CHANGELOG.md
  config/version.rb
  package.json
Due: bundle exec rubocop

feat(shops): update page cols
  app/javascript/frontend/pages/Stations/Shop/index.vue
Due: yarn run lint:vue

feat(hangar-preview): add page and basic layout (#935)
  app/javascript/frontend/components/Panel/index.vue
  app/javascript/frontend/lib/Noty/index.js
  app/javascript/frontend/pages/Hangar/Preview/index.scss
  app/javascript/frontend/pages/Hangar/Preview/index.vue
  app/javascript/frontend/partials/HangarGuide/index.scss
  app/javascript/frontend/partials/HangarGuide/index.vue
  app/javascript/frontend/partials/Models/AddToHangar/index.vue
  app/javascript/frontend/partials/Navigation/index.vue
  app/javascript/frontend/routes.js
  app/javascript/stylesheets/colors/default.scss
  app/javascript/stylesheets/frontend.scss
  app/javascript/stylesheets/partials/panel.scss
  app/javascript/stylesheets/variables.scss
  app/javascript/translations/en/headlines.js
  app/javascript/translations/en/messages.js
  app/javascript/translations/en/texts.js
  app/javascript/translations/en/title.js
  config/locales/en/en.yml
  config/routes/frontend_routes.rb
  test/javascript/e2e/specs/Login.spec.js
Due: yarn run lint:js, yarn run lint:style, yarn run lint:vue, bundle exec rubocop
